<launch>
  <node name="imu"    pkg="imu"  type="imu" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
  <param name="frame_id"            type="string" value="imu"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="imu_test" args="0 0 0 0 0 0 map imu 100" />
</launch>
